#header {
    background-color: #e5e5eb;
    padding: 20px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(104, 104, 230), rgb(244, 244, 246));    
}

#header nav ul {
    list-style-type: none;
    padding: 0;
}

#header nav ul li {
    display: inline;
    margin-right: 15px;
}

#header nav ul li a {
    text-decoration: none;
    color: #090909e4;
}

#home {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

#home h1 {
    font-size: 73px;
    color: #090909e4;
    margin-right: 20px;
}
#home p {
    font-size: 24px;
    color: #362de8e4;
    position: absolute;
    top: 430px;
}
#home h2 {
    animation: colorChange 10s infinite;
    font-size: 80px;
    position: absolute;
    top: 280px;
}
@keyframes colorChange {
  0%   { color: brown; }
  25%  { color: purple; }
  50%  { color: pink; }
  75%  { color: orange; }
  100% { color: red; }
}
#home img {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    object-fit:cover;
    border: 5px solid #111111;
    position: relative;
    top: 70px;
    margin-right: 50px;
}
#About {
    font-size: 20px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
    position : relative;
    padding: 30px;
}
#About h2 {
    font-size: 40px;
    color: #090909e4;
    margin-bottom: 10px;
}

#skills {
    padding: 30px;
    position: absolute;
    top: 700px;
}
#skills h2 {
    font-size: 40px;
    color: #090909e4;
    
    
}
.skills-list {
    display: flex;
    gap: 30px;
    
    
}
.child {
    font-size: 25px;
    list-style-type: none;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(to right, #6ca8f0, #003d99);
    color: white;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}
.child:hover {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 5px 5px 8px black;
}

#projects {
    padding: 30px;
    position: relative;
    top: 190px;
}
#projects h2 {
    font-size: 40px;
    color: #090909e4;
}

.project-box {
    position: relative;
    height: 350px;
    width: 90%;
    max-width: 700px;
    margin: 80px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: zoom 10s infinite ease-in-out;
    
}

.project-box img{
  width:100%;
  max-width:700px;
  margin:10px 0;
  height:400px;
  border-radius:6px;
  display:block;
  object-fit:cover;
 
}
.project-box:hover {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 15px black;
}

@keyframes zoom {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.18); }
    100% { transform: scale(1); }
}

.project-box:nth-child(1) {
    background: url('project.1.jpg') center/cover no-repeat;
}

.project-box:nth-child(2) {
    background: url('project.2.jpg') center/cover no-repeat;
}

.project-box::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
    border-radius: 15px;
}


#contact {
    padding: 25px;
    position: relative;
    top: 150px;
}
#contact h2{
    font-size: 40px;
    color: #090909e4;
}

.contact-form {
    position:relative;
    width: 350px;
    margin: 25px auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    font-size: 18px;

}

input, textarea {
  width: 95%;
  padding: 8px;
  border: 1px solid #72b8c7;
  border-radius: 4px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background: #003c8f;
    color: white;
    margin-top: 20px;
    position: relative;
    top: 200px;
}
.back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0b57d0;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
.back-top:hover {
    background: #094a9e;
}
